.header-board {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-card-btn {
    display: block;
    width: 100px;
    height: 45px;
    cursor: pointer;
    background-color: cadetblue;
    border-radius: 0.5em;
    border: none;
    color: white;
}

.add-card:hover {
    border: 1px solid;
}

.editField{
    margin: 5px 10px;
    font-size: 14px;
    height: 120px;
}